* {
  font-family: 'Orbitron', sans-serif;
  box-sizing: border-box;
  letter-spacing: 2px;
}

canvas {
  width:100% !important;
  height: auto !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  outline: none;
  cursor: pointer;
}

h4 {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  text-align: right;
  margin: 0;
  padding-right: 64px;
}

body {
  margin: 0;
  position: relative;
}

#sphere {
  width: 100%;
  height: 500px;
  position: relative;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: 0 auto;
  max-width: 1366px;
  padding: 64px;
}

.logo {
  position: relative;
  font-size: 27px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}

.logo span {
  color: #5ea709;
}

.navigation {
  height: 50px;
}

.navigation ul {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-gap: 32px;
}

.navigation ul li {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

.navigation ul li a {
  color: black;
  text-decoration: none;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.navigation ul li a:hover {
  color: #5ea709;
}

.landing {
  height: fit-content;
  margin: 0 auto;
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
}

.intro {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 64px;
}

.intro h1 {
  margin: 0;
  margin-bottom: 16px;
  font-size: 45px;
}

.intro button {
  outline: none;
  border: none;
  background: none;
  padding: 10px;
  border: 2px solid #5ea709;
  color: #5ea709;
  font-weight: bold;
  cursor: pointer;
  margin-top: 16px;
}

.intro button:hover {
  background-color: black;
  border: 2px solid black;
  color: white;
}